body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: #ff5900 !important;
    color: white;
}

.bgDarkOrange {
    background-color: #ee9821;
}
.fondoPremios {
    background-color: #FDAC53;
}
.zoomOnHover {
    transition: transform 0.2s ease-in-out;
}

.zoomOnHover:hover {
    transform: scale(1.1);
}

.contentCircleOrange {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px;
    border-color: #49300e;
}

.contentCircleOrange span {
    color: white;
    font-size: 0.9em;
    font-weight: bold;
}


.modal-header h5 {
    font-size: 1.5rem;
    font-weight: bold;
}

.modal-body img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.modal-body p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.modal-footer {
    justify-content: center;
}

.carousel-item img {
    height: 350px;
    object-fit: contain;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #ee9821;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

--# {
    $prefix
}

form-valid-color: # {
    $form-valid-color
}

--# {
    $prefix
}

form-valid-border-color: # {
    $form-valid-border-color
}

--# {
    $prefix
}

form-invalid-color: # {
    $form-invalid-color
}

--# {
    $prefix
}

form-invalid-border-color: # {
    $form-invalid-border-color
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}